* {
  padding: 0;
  margin: 0;
}
body {
  text-align: center;
  background-color: #f0e5de;
  color: #231942;
  padding-top: 20px;
  font-family: "Arial", sans-serif;
  height: 100vh;
}
.header-box {
  height: 100vmin;
  margin: 20px;
  padding: 20px;
  background-color: #7b72a7;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
}
.header-box h1 {
  margin-bottom: 10px;
  font-size: 6vmin;
}

.mess-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vmin;
}

#winner {
  color: #231942;
  font-size: 5vmin;
  margin-bottom: 20px;
}
.hidelogic,
.hide {
  display: none;
}
.container {
  height: 70vmin;
  display: flex;
  justify-content: center;
  text-align: center;
}
.gameContainer {
  height: auto;
  margin: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}
.game {
  height: 50vmin;
  width: 50vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.box {
  height: 15vmin;
  width: 15vmin;
  border-radius: 2vmin;
  margin: 3px;
  text-align: center;
  font-size: 8vmin;
  box-shadow: 1px 1px 1px 1px #5e548e;
  color: #231942;
  background-color: #d8c3a5;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#reset,
#startgame,
#newgame {
  margin-top: 20px;
  background-color: #524885;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#reset:hover,
#startgame:hover,
#newgame:hover {
  background-color: #251958;
}

.message {
  margin-top: 20vmin;
}

#Gameheader {
  font-size: 4vmin;
  margin: 20px;
  color: #5e548e;
}
button:hover {
  background-color: #a09dad;
}
